@import "tailwindcss";

@theme {
  --color-verde: #4EFFEA;
  --color-azul: #4EA4FF;
  --color-roxo: #6C4EFF;
  --color-branco: #FFFFFF;
  --color-cinza: #978DA6;
  --color-preto-background: #040018;
  --color-preto-secundario: #181A2A;
  --gradient-camelsec: linear-gradient(90deg, #4EFFEA 0%, #4EA4FF 50%, #6C4EFF 100%);
  
}

.gradient-text {
  background: var(--gradient-camelsec);
  background-size: 400% 400%;
  animation: gradient-move 6s ease-in-out infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation-direction: alternate;
}

.bg-gradient-camelsec {
  background: var(--gradient-camelsec);
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 33% 50%;
  }

  50% {
    background-position: 66% 50%;
  }

  75% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}

/* Loader SVG */
.loader {
  width: 8em;
  height: 8em;
}

/* Contorno neon e efeito de dissolução para o loader */
.loader path {
  stroke-dasharray: 1500;
  stroke-dashoffset: 500;
  animation: dashArray 3s ease-in-out infinite, dashOffset 3s linear infinite, neonPulse 3s ease-in-out infinite;
}

/* Animação do traçado */
@keyframes dashArray {
  0% {
      stroke-dasharray: 0 1 499 0;
  }

  50% {
      stroke-dasharray: 0 499 1 0;
  }

  100% {
      stroke-dasharray: 499 1 0 0;
  }
}

/* Animação do deslocamento do traçado */
@keyframes dashOffset {
  0% {
      stroke-dashoffset: 1500;
  }

  100% {
      stroke-dashoffset: 500;
  }
}

